.cardContainer {
    width: 300px;
    
}

.card {
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardTop {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 20px;
}

.cardBottom {
    padding: 12px;
}

.cardTitle {
    text-align: center;
}

.cardPara {
    text-align: center;
}

.mainImg {
    width: 100%;
}

.cardBottom {
    display: flex;
    justify-content: center;
}

.like-ic {
    font-size: 30px;
    cursor: pointer;
}

.imageContainer {
    position: relative;
}

.double-like-ic {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardTitle {

}

.cardPara {
    font-size: 20px;
    font-weight: 600;
}

.hide {
    visibility: hidden;
}

.red {
    color: red;
}